html,
body {
  width: 500px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 10px;
}

.hidden {
  display: none;
}

.popup-footer {
  display: flex;
  justify-content: space-evenly;
}

.btn-footer {
  border: none;
  padding: 4px;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  cursor: pointer;
  background-color: #e5f2f2;
  border-radius: 5px;
  gap: 5px;
  color: #fff;
}

.btn-send-all {
  background-color: #80aaff;
  margin-right: 5px;
  &:hover {
    background-color: #6699ff;
  }
}


.btn-remove-all {
  background-color: #ff6666;
  margin-left: 5px;

  &:hover {
    background-color: #ff4d4d;
  }
}

.reset-btn:hover {
  background-color: #cff2f2;
}

.reset-btn[type="reset"] {
  background-color: #fbfbc9;
}

.reset-btn[type="reset"]:hover {
  background-color: #eaea9d;
}

.main-header {
  font-size: 1.5rem;
}

.popup-container {
  background-color: #f6f6f6;
}

.popup-body {
  overflow: scroll;
}

.text-list-item {
  padding: 10px 8px;
  border-radius: 5px;
  margin-bottom: 8px;
  /* background-color: #F2F2F2; */
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.text-list-item p {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 0.95rem;
}

.text-list-item-btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-send {
  background-color: #80aaff;
}

.btn-send:hover {
  background-color: #6699ff;
}

.btn-delete {
  background-color: #ff6666;
}

.btn-delete:hover {
  background-color: #ff4d4d;
}

.btn-edit {
  background-color: #ffa366;
}

.btn-edit:hover {
  background-color: #ff944d;
}

.btn-more-options {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.btn-more-options:hover {
  background-color: #F2F2F2;
}

.btn-more-options-img {
  pointer-events: none;
}

.text-list-item-input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(255, 163, 102, 0.9);
  outline: none;
  display: block;
  width: 100%;
  height: 80px;
  max-width: 480px;
  max-height: 160px;
  margin: 0 0 8px 0;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.text-list-item-right {
  position: relative;
}

.more-options-popup {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  right: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.more-options-popup ul {
  list-style-type: none;
  margin: 0;
  margin-inline: 0;
  padding: 0;
}

.more-options-popup ul li {
  color: #000000;
  margin-bottom: 5px;
  text-align: left;
  padding: 6px 0 6px 3px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  color: #717781;

  & img {
    width: 18px;
    height: auto;
  }
}

.more-options-popup ul li img {
  padding-right: 8px;
}


.more-options-popup ul li:hover {
  background-color: #F2F2F2;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}